body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5; /* Light gray background */
    color: #333;
}

header {
    background-color: #1a1a1a; /* Dark background for the header */
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.section {
    background-color: #fff;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#projects .project-card {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

#projects .project-card:hover {
    transform: scale(1.02);
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills ul li {
    background-color: #e6e6e6;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 10px; /* Reduce padding from 20px to 10px */
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px; /* Set a fixed height to control the size */
    line-height: 50px; /* Vertically center the text within the height */
}
